NET "USER_CLOCK" LOC = AB13;
NET "USER_CLOCK" IOSTANDARD = LVCMOS33;

NET "MBI_CLK_MOD" LOC = AA6; //V11;
NET "MBI_CLK_MOD" IOSTANDARD = LVCMOS33;
NET "MBI_CLKN_MOD" LOC = Y8; //Y12; //closer to center of camera thing
NET "MBI_CLKN_MOD" IOSTANDARD = LVCMOS33;
NET "MBI_CLKL_MOD" LOC = U9;
NET "MBI_CLKL_MOD" IOSTANDARD = LVCMOS33;

NET "W_FREQ_SEL<0>" LOC = V11 | IOSTANDARD=LVCMOS33;		//JP3-1
NET "W_FREQ_SEL<1>" LOC = Y12 | IOSTANDARD=LVCMOS33;		//JP3-2
NET "W_FREQ_SEL<2>" LOC = W12 | IOSTANDARD=LVCMOS33;		//JP3-3
NET "W_PHASE_SEL<0>" LOC = Y11 | IOSTANDARD=LVCMOS33;		//JP3-4
NET "W_PHASE_SEL<1>" LOC = AB12 | IOSTANDARD=LVCMOS33;	//JP3-5
NET "W_PHASE_SEL<2>" LOC = AA12 | IOSTANDARD=LVCMOS33;	//JP3-6
NET "W_PHASE_SEL<3>" LOC = U12 | IOSTANDARD=LVCMOS33;		//JP3-7
NET "W_PHASE_SEL<4>" LOC = T12 | IOSTANDARD=LVCMOS33;		//JP3-10
################################

#NET "MBI_CLKN_MOD" LOC = AA12;					#for testing
#NET "MBI_CLKN_MOD" IOSTANDARD = LVCMOS33;
#NET "MBI_CLK_MOD" LOC = AB12;
#NET "MBI_CLK_MOD" IOSTANDARD = LVCMOS33;
#INST "BUFGMUX_inst_3" LOC = BUFGMUX_X3Y6;
#PIN "top/BUFGMUX_inst_3.O" CLOCK_DEDICATED_ROUTE = FALSE;

