NET "USER_CLOCK" LOC = AB13;
NET "USER_CLOCK" IOSTANDARD = LVCMOS33;

#NET "MBI_CLKN_MOD" LOC = Y8;
#NET "MBI_CLKN_MOD" IOSTANDARD = LVCMOS33;
#NET "MBI_CLK_MOD" LOC = AA6;
#NET "MBI_CLK_MOD" IOSTANDARD = LVCMOS33;

################################

NET "MBI_CLKN_MOD" LOC = AA12;					#for testing
NET "MBI_CLKN_MOD" IOSTANDARD = LVCMOS33;
NET "MBI_CLK_MOD" LOC = AB12;
NET "MBI_CLK_MOD" IOSTANDARD = LVCMOS33;
INST "BUFGMUX_inst_3" LOC = BUFGMUX_X3Y6;
#PIN "top/BUFGMUX_inst_3.O" CLOCK_DEDICATED_ROUTE = FALSE;

