//! **************************************************************************
// Written by: Map P.20131013 on Thu May 18 17:50:09 2017
//! **************************************************************************

SCHEMATIC START;
COMP "MBI_CLKN_MOD" LOCATE = SITE "Y8" LEVEL 1;
COMP "USER_CLOCK" LOCATE = SITE "AB13" LEVEL 1;
COMP "MBI_CLK_MOD" LOCATE = SITE "AA6" LEVEL 1;
COMP "BUFGMUX_inst_3" LOCATE = SITE "BUFGMUX_X3Y6" LEVEL 1;
SCHEMATIC END;

