//! **************************************************************************
// Written by: Map P.20131013 on Mon May 29 13:52:10 2017
//! **************************************************************************

SCHEMATIC START;
COMP "MBI_CLKL_MOD" LOCATE = SITE "W12" LEVEL 1;
COMP "MBI_CLKN_MOD" LOCATE = SITE "Y8" LEVEL 1;
COMP "USER_CLOCK" LOCATE = SITE "AB13" LEVEL 1;
COMP "MBI_CLK_MOD" LOCATE = SITE "AA6" LEVEL 1;
SCHEMATIC END;

